BasedOnStyle: LLVM
IndentWidth: 2
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
UseTab: ForIndentation