[package]
name = "pyth-oracle"
version = "2.13.1"
edition = "2021"
license = "Apache 2.0"
publish = false

[build-dependencies]
bindgen = "0.60.1"

[dependencies]
solana-program = "=1.10.29"
bytemuck = "1.11.0"
thiserror = "1.0"
num-derive = "0.3"
num-traits = "0.2"
bincode = "1.3.3"

[dev-dependencies]
solana-program-test = "=1.10.29"
solana-sdk = "=1.10.29"
tokio = "1.14.1"

[features]
debug = []

[lib]
crate-type = ["cdylib", "lib"]
