[package]
name = "pyth-oracle"
version = "2.21.0"
edition = "2021"
license = "Apache 2.0"
publish = false

[build-dependencies]
bindgen = "0.60.1"

[dependencies]
solana-program = "=1.13.3"
bytemuck = "1.11.0"
thiserror = "1.0"
num-derive = "0.3"
num-traits = "0.2"

[dev-dependencies]
solana-program-test = "=1.13.3"
solana-sdk = "=1.13.3"
tokio = "1.14.1"
hex = "0.3.1"
quickcheck = "1"
quickcheck_macros = "1"
bincode = "1.3.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[features]
debug = []

[lib]
crate-type = ["cdylib", "lib"]
