[package]
name = "pyth-oracle"
version = "2.13.1"
edition = "2021"
license = "Apache 2.0"
publish = false

[build-dependencies]
bindgen = "0.60.1"

[dependencies]
solana-program = "=1.10.29"
bytemuck = "1.11.0"
thiserror = "1.0"

[dev-dependencies]
quickcheck = "1"
quickcheck_macros = "1"
rand = "0.8.5"

[lib]
crate-type = ["cdylib", "lib"]
