cargo-features = ["edition2021"]

[package]
name = "pyth-oracle"
version = "2.13.1"
edition = "2021"
license = "Apache 2.0"
publish = false

[build-dependencies]
bindgen = "0.60.1"

[dependencies]
solana-program = "=1.10.29"
borsh = "0.9"
bytemuck = "1.7.2"
thiserror = "1.0"

[lib]
crate-type = ["cdylib", "lib"]
