name: Docker

on:
  push:
  pull_request:
    branches: [ main ]

env:
  SOLANA_VERSION: 1.10.29
  SOLANA_DOCKER_IMAGE_HASH: 78900501ccd1ade1bf088fa0830c46bc6095c6799469ff9b335e1f02d957e53a
  DOCKER_HUB: docker.io
  DOCKER_USER: ${{ secrets.DOCKER_IO_USER }}
  IS_RELEASE: ${{
    startsWith( github.ref, 'refs/tags/pythd-' ) ||
    startsWith( github.ref, 'refs/tags/devnet-' ) ||
    startsWith( github.ref, 'refs/tags/testnet-' ) ||
    startsWith( github.ref, 'refs/tags/mainnet-' ) }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Initialize Environment
        run: |
          set -eux
          REPO_NAME="$( basename "${GITHUB_REPOSITORY}" )"
          REF_NAME="$( basename "${GITHUB_REF}" )"
          echo "DOCKER_IMAGE=${REPO_NAME}:${REF_NAME}" >> "${GITHUB_ENV}"
          echo "DOCKER_BUILDKIT=1" >> "${GITHUB_ENV}"

      - name: Build Docker Image
        run: |
          set -eux 
          docker build \
            --file docker/Dockerfile \
            --build-arg SOLANA_VERSION="${SOLANA_VERSION}" \
            --build-arg SOLANA_DOCKER_IMAGE_HASH="${SOLANA_DOCKER_IMAGE_HASH}" \
            --tag "${DOCKER_IMAGE}" \
            .
          docker create -ti --name instance "${DOCKER_IMAGE}" bash
          docker cp instance:/home/pyth/pyth-client/target/deploy/pyth_oracle.so ./out/
          docker rm -f instance
      - name : Publish binary
        if : env.IS_RELEASE == 'true'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./out/pyth_oracle.so
          asset_name: pyth_oracle.so
          tag: ${{ github.ref }}
          overwrite: true
          body: "This is my release text"
  pinning:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source
        uses: actions/checkout@v2
      - run: chmod 755 ./scripts/check-docker-pin.sh
      - run: ./scripts/check-docker-pin.sh
