name: Docker

on:
  push:
  pull_request:
    branches: [ devnet ]

env:
  SOLANA_VERSION: 1.7.12

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: echo "BRANCH=$( echo ${GITHUB_REF##*/} )" >> $GITHUB_ENV
      - run: echo "DOCKER_TAG=${BRANCH}" >> $GITHUB_ENV
      - run: echo "DOCKER_IMAGE=$( echo ${GITHUB_REPOSITORY}:${DOCKER_TAG} )" >> $GITHUB_ENV
      - run: docker build -f docker/Dockerfile --build-arg SOLANA_VERSION=${{ env.SOLANA_VERSION }} --tag ${{ env.DOCKER_IMAGE }} .
      # publish to docker.io
      - run: echo "${{ secrets.DOCKER_IO_PASS }}" | docker login docker.io -u ${{ secrets.DOCKER_IO_USER }} --password-stdin
        if: startsWith( github.ref, 'refs/tags/' )
      - run: docker image tag ${DOCKER_IMAGE} docker.io/pythfoundation/pyth-client:${DOCKER_TAG}
        if: startsWith( github.ref, 'refs/tags/' )
      - run: docker image push docker.io/pythfoundation/pyth-client:${DOCKER_TAG}
        if: startsWith( github.ref, 'refs/tags/' )
